@import 'vars';


html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: 16px;
  background-color: $body-color;
  line-height: 27px;
  color: $font-color;
  font-weight: $fw-medium;
}

table {
  margin: 20px 0;
  width: 100%;
}

th {
  padding: 15px;
  border: 3px solid $footer-color;
  border-radius: 10px;
}

td {
  padding: 15px;
  border: 3px solid $footer-color;
  border-radius: 10px;
  width: 70%;
}

input {
  margin: 0 0 10px;
  padding: 5px;
  border: 3px solid $footer-color;
  border-radius: 10px;

  &:required {
    background-color: gold;
  }

  &:optional {
    background-color: #00ffe1;
  }

  &:focus {
    outline-style: none;
    box-shadow: none;
    border: 5px solid $footer-color;
    color: white;
    background-color: #e3e9ff;
  }
}

textarea {
  margin: 0 0 10px;
  padding: 10px;
  border: 3px solid $footer-color;
  border-radius: 10px;

  &:required {
    background-color: gold;
  }

  &:optional {
    background-color: #00ffe1;
  }

  &:focus {
    outline-style: none;
    box-shadow: none;
    border: 5px solid $footer-color;
    color: white;
    background-color: #e3e9ff;
  }
}

fieldset {
  border: 3px solid $footer-color;
  border-radius: 10px;
  margin: 0 0 10px;
}


aside {
  float: right;
  width: 40%;
}


ul > {
  li {
    list-style-type: none;
  }
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main,
.article {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}





