@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import "mixins";

.header {
  background-color: $header-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    font-weight: bold;
  }
}

#main {
  border: 7px ridge #eceffd;
}

a[href$=".html"] {
  color: $font-color;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $font-color;
    background-color: #94a6e0;
  }

  &:active {
    box-shadow: 2px 2px 5px #8393c7
  }
}

a:visited {
  color: #34c100;

}

a:link {
  color: $font-color;
}

.section {
  padding: 20px 0 20px;
}

.cards-column {
  padding: 15px 0;
  display: flex;
  gap: 20px;


  &__title {
    padding: 10px 0 0;
  }

  &__item {
    flex-basis: 0;
    flex-grow: 1;

  }
}

.cards-row {
  margin-top: 15px;

  &__item:first-child {
    margin: 0;
  }

  &__item {
    display: flex;
    margin: 25px 0 0 0;
  }

  &__image {
    flex: 0 0 33.333%;
    position: relative;
  }

  &__body {
    padding-left: 15px;
    flex: 1 1 auto;
  }
}

.inf-district,
.inf-neighborhood,
.inf-bus,
.inf-railway,
.inf-tram {
  li {
    position: relative;
    padding: 0 0 0 30px;
  }


  li:before {
    content: '';
    background: #7fbfff 0 0 no-repeat;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
  }

  li:nth-of-type(even) {
    background: #b9bcc7 0 0 no-repeat;
  }

  li:hover {
    font-size: 18px;
  }
}


.footer {
  background-color: $footer-color;
  height: 170px;
}

.south-park-wrapper {

}

.south-park {
  margin: 0 auto;
  width: 590px;
  height: 146px;
  background-color: #72cae1;

  &__background {
    height: 100%;
    width: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    overflow: hidden;
  }

  &__mountain-1 {
    position: absolute;
    top: -30px;
    left: -250px;
    width: 700px;
    height: 220px;
    background: #336850;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  &__mountain-snow-big{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform-origin: center;
    top: 12%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 100px;
  }

  &__mountain-snow-small{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform-origin: center;
    top: 0%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 120px;
  }

  &__mountain-2 {
    position: absolute;
    top: -30px;
    left: -50px;
    width: 800px;
    height: 220px;
    background: #336850;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  &__mountain-3 {
    position: absolute;
    top: -20px;
    left: 310px;
    width: 700px;
    height: 220px;
    background: #336850;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  &__ground {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform-origin: center;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 100px;
  }

}