@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import "mixins";
@import "complicated-task";

.header {
  background-color: $header-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}

.city-img {
  float: right;
  margin: 7px 0 7px 7px;
}

.menu {
  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    font-weight: bold;
  }
}

#main {
  border: 7px ridge #eceffd;
}

a[href$=".html"] {
  color: $font-color;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $font-color;
    background-color: #94a6e0;
  }

  &:active {
    box-shadow: 2px 2px 5px #8393c7
  }
}

a:visited {
  color: #34c100;

}

a:link {
  color: $font-color;
}

.section {
  padding: 20px 0 20px;
}

.cards-column {
  padding: 15px 0;
  display: flex;
  gap: 20px;


  &__title {
    padding: 10px 0 0;
  }

  &__item {
    flex-basis: 0;
    flex-grow: 1;

  }
}

.cards-row {
  margin-top: 15px;

  &__item:first-child {
    margin: 0;
  }

  &__item {
    display: flex;
    margin: 25px 0 0 0;
  }

  &__image {
    flex: 0 0 33.333%;
    position: relative;
  }

  &__body {
    padding-left: 15px;
    flex: 1 1 auto;
  }
}

.inf-district,
.inf-neighborhood,
.inf-bus,
.inf-railway,
.inf-tram {
  li {
    position: relative;
    padding: 0 0 0 30px;
  }


  li:before {
    content: '';
    background: #7fbfff 0 0 no-repeat;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
  }

  li:nth-of-type(even) {
    background: #b9bcc7 0 0 no-repeat;
  }

  li:hover {
    font-size: 18px;
  }
}


.footer {
  background-color: $footer-color;
  height: 150px;
}


